<mat-card>
  <h1>Gerenciamento de Cursos</h1>

  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome do Curso</mat-label>
      <input matInput [(ngModel)]="nomeCurso">
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="adicionarCurso()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="cursos" class="mat-elevation-z8">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome do Curso </th>
      <td mat-cell *matCellDef="let curso"> {{ curso.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let curso; let i = index">
        <button mat-icon-button color="accent" (click)="visualizarAlunos(curso)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletarCurso(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>