<mat-card>
  <h1>Gerenciamento de Alunos</h1>

  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Filtrar por nome</mat-label>
      <input matInput [(ngModel)]="filtroNome">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filtrar por curso</mat-label>
      <input matInput [(ngModel)]="filtroCurso">
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome do Aluno</mat-label>
      <input matInput [(ngModel)]="nome">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Curso</mat-label>
      <mat-select [(ngModel)]="curso">
        <mat-option *ngFor="let c of cursos" [value]="c">{{ c }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="adicionarAluno()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="alunosFiltrados" class="mat-elevation-z8">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.curso }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let aluno; let i = index">
        <button mat-icon-button color="warn" (click)="deletarAluno(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
